
.container {
  margin: auto;
  text-align:center;
}

.column {
  width: 20vw;
  display: inline-block;
  background-color: red;
}

.column:nth-last-of-type(2) {
  background-color: green;

}


img {
  width: 20vw;
  height: 20vw;
  float: left;
}

body {
  background-color: orange;
}

h1, h2{
  text-align: center;
}
